.footer-bg {
  background-color: #001a35;
  background-image: linear-gradient(rgba(0, 26, 53, 0.9),
      /* Slightly dim overlay */
      rgba(0, 26, 53, 0.9)),
    url('./../img/city-profile.jpg');
  /*  Use absolute path if image is in /public/img */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ddd;
  font-family: 'calibri', sans-serif;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.app-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.QR-code {
  width: 65px;
  height: 65px;
}

.play-store-image {
  width: 200px;
  cursor: pointer;
  margin-top: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #ddd;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ddd;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  color: #ddd;
  text-align: left;
  display: block;
}

.payment-methods {
  padding: 10px 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .play-store-image {
    width: 80px;
  }

  .QR-code {
    width: 45px;
    height: 45px;
  }


  .footer-section {
    margin-left: 10px;
  }
}