/* Main footer styling with card-like effect (for larger screens, using flex) */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #001a35;
    color: #ddd;
    font-family: 'calibri', sans-serif;
    /* box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.3); */
    margin: 0;
}

.footer-section {
    flex: 1;
    /* min-width: 200px; */
    margin: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #ddd;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
}

.footer-section p {
    margin: 5px 0;
    /* margin-left: 20px; */
    font-size: 14px;
    color: #ddd;
    text-align: left;
    display: block;
}

/* Responsive adjustments using CSS Grid for smaller screens */
@media (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
        gap: 10px; /* Space between grid items; adjust as needed */
        padding: 10px;
    }
    
    /* Optionally remove margins in grid layout if they cause extra spacing */
    .footer-section {
        margin-left: 10px;
    }
}
